<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thamersaadi.miniprojet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AjouterEmployee" />
        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".IndexEmployee"
            android:label="@string/title_activity_index_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EmployeDetails" />
        <activity android:name=".ModifiereMPLOYEE" />
        <activity android:name=".AjouterTache" />
        <activity android:name=".HomeAdmin" />
        <activity android:name=".StatistiqueEmploye" />
        <activity android:name=".EmployeTaches"></activity>
    </application>

</manifest>